
body{
    font-size: 18px;
    font-family: serif;
    background-color: rgb(172, 208, 241);
    line-height: 1.5em;
    width: 90%;
    margin: auto;
}

#content-container{
    width: 80%;
    margin: auto;    
    padding: 10px;
}

h3{
    clear: left;
}

img{
    float: left;
    margin: 20px;
    padding: 20px;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
}

img:hover{
padding: 0;
margin: 0;
border: 5px solid white;
}

section:hover{
color: white;
}

h2{
    font-size: 40px;
}

a #active{
    color: darkslateblue;
}
